.container {
    background: $lightblue-background;
    border: 1px solid black;
    border-radius: 5px;
}

.container__header {
    border-bottom: grey solid 1px;
    padding: 1rem;
}

.container__footer {
    border-top: grey solid 1px;
    padding: 1rem 1rem 0 1rem;
}